.NewStyledButton__button {
    width: 700px;
    border: 5px solid white;
    font-size: 30px;
    font-family: "Calibri";
    color: white;

    &:hover {
        outline: 5px solid red;
        outline-offset: -20px;
    }
}

.button-blue {
    background-color: blue;
}